input {
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none;

  font-family: 'Neptunus';
  -webkit-text-security: asterisk;

  &.auth-form {
    font-family: 'Poppins', sans-serif;

    &[type='password']::-ms-reveal,
    &[type='password']::-ms-clear {
      display: none;
    }
  }

  &:-webkit-autofill,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:active {
    background-clip: text !important;
    color: #ffffff !important;
    caret-color: #ffffff !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: #ffffff !important;
  }
}

.nickname-guest-input-container,
.auth-input-container {
  position: relative;

  width: 100%;
  height: 36px;

  margin-top: 10px;

  background-color: #88888834;

  border-radius: 3px;

  transition: background-color 0.2s;

  & > .nickname-guest-input,
  & > .auth-form {
    width: 100%;
    height: 100%;

    padding: 0 5px;

    text-align: center;
    color: #ffffff;
    font-size: 1rem;
  }

  & > .nickname-guest-label,
  & > .auth-label {
    position: absolute;
    top: 50%;
    left: 50%;

    color: #888888;
    font-size: 1rem;

    pointer-events: none;
    opacity: 1;

    transform: translate(-50%, -50%);

    transition: all 0.1s;
  }

  & > .nickname-guest-input:focus ~ .nickname-guest-label,
  & > .nickname-guest-input:valid ~ .nickname-guest-label,
  & > .auth-form:focus ~ .auth-label,
  & > .auth-form:valid ~ .auth-label {
    opacity: 0;
  }

  &:hover {
    background-color: #aaaaaa34;
  }
}

.auth-input-container {
  width: 80%;
  height: 40px;

  background-color: #aaaaaa34;

  &.nickname-input-container,
  &.confirm-password-input-container {
    display: none;

    &.active {
      display: block;
    }
  }

  &:hover {
    background-color: #cdcdcd34;
  }

  &:not(:first-of-type) {
    margin-top: 20px;
  }
}
