input {
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none;
}

.nickname-input-container {
  position: relative;

  width: 100%;
  height: 36px;

  margin-top: 10px;

  background-color: #88888834;

  border-radius: 3px;

  transition: background-color 0.2s;

  & > .nickname-input {
    width: 100%;
    height: 100%;

    padding: 0 5px;

    text-align: center;
    color: #ffffff;
    font-size: 1.1rem;
    font-family: 'Neptunus';
  }

  & > .nickname-label {
    position: absolute;
    top: 50%;
    left: 50%;

    color: #888888;
    font-size: 1.1rem;
    font-family: 'Neptunus';

    pointer-events: none;
    opacity: 1;

    transform: translate(-50%, -50%);

    transition: all 0.1s;
  }

  & > .nickname-input:focus ~ .nickname-label,
  & > .nickname-input:valid ~ .nickname-label {
    opacity: 0;
  }

  &:hover {
    background-color: #aaaaaa34;
  }
}
