@import './assets/scss/screen.scss';
@import './assets/scss/menu.scss';
@import './assets/scss/buttons.scss';
@import './assets/scss/inputs.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

@font-face {
  font-family: 'Neptunus';
  src: url('./assets/fonts/Neptunus/Neptunus.ttf');
  font-weight: normal;
}
